
a:link,
a:visited {
  color: blue;
  background-color: gray;
  text-decoration: none;
  padding: 3px;
}


a:hover {
  color: white;
  background-color: blue;
}


a:active {
  font-size: larger;
  color: white;
  background-color: blue;
}


input:focus {
  border: red 2px dotted;
  padding: 2px;
}